html,body {
    background-color: #CBF2FF;
}
#pixelFormContainer {
    position: relative;
}
#pixelForm {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
    height: 88px;
}
#id_image_container {
    border: 5px dashed #FF6F3F;
    border-radius: 5px;
    background: none;
    height: 150px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    font-size: 200%;
    color: #FF6F3F;
}

#id_image_container:hover {
    color: #FF3F46;
    border-color: #FF3F46;
}
#id_image {
    height: 100%;
    width: 100%;
    opacity: 0.0;
}
#form-glyph {
    position: absolute;
    left: 0;
    right: 0;
    top: 91px;
}
#filename_display {
    margin-top: 10px;
    font-size: 90%;
}

.info-text {
    color: #1A2E33;
    margin: 5px;
}

#logo-text {
    width: 30%;
    height: auto;
}

#song-input {
    background: darken(white, 2%);
    padding: .5em;
    font-size: 1em;
    margin: 8px auto;
    text-align: center;
    border: 1px solid grey;
}

#song-input:focus {
    box-shadow: 0 0 5px #ff8b65;
    border: 1px solid #ff8b65;
}

::-webkit-input-placeholder {
    color: #ff8b65;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ff8b65;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ff8b65;  
}

:-ms-input-placeholder {  
    color: #ff8b65;  
}

.orange-button {
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'avenir';
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    height: 60px;
    width: 260px;
    margin-top: 15px;
}

.orange-button:hover {
    cursor: pointer;
}

.orange-button:focus {
    outline: none;
}

@media screen and (max-width: 719px)    { .orange-button {height: 45px; line-height: 45px; width: 160px;} #logo-text { width: 285px; height: auto;} }
@media screen and (min-width: 720px)    { .orange-button {height: 50px; line-height: 50px; width: 180px;} #logo-text { width: 350px; height: auto;} }
@media screen and (min-width: 60em)     { .orange-button {height: 60px; line-height: 60px; width: 228px;} #logo-text { width: 420px; height: auto;} }
@media screen and (min-width: 76.5em)   { .orange-button {height: 68px; line-height: 68px; width: 230px;} #logo-text { width: 450px; height: auto;} }